/** 
 * To Do:
 *   X Keep page from shifting during tab selection and initial raise-menu animation
 		- Answer: The scroll bar appears and pushes the page left
 *   ~ Keep current scroll position when changing work tabs
 */

*{
	margin: 0;
}

html {
	height: 100%;
	overflow-y: scroll; /* Always display vertical scroll, keeps page from shifting horizontally */
}

body {
	height: 100%;
	background-color: #BBB;
	font-family: "Alegreya Sans", sans-serif;
	font-size: 17px;
	color: #000;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
	padding-top: 250px;
}

@media only screen and (max-width: 415px) {
	body > .wrapper {
		padding-top: 180px;
	}
	body > .wrapper > h1 {
		font-size: 50px;
	}
	body > .wrapper > #tabs > ul {
		font-size: 30px;
	}
	body > .wrapper > .panel {
		padding: 15px 15px;
	}
	body > footer {
		font-size: 14px;
	}
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #000;
}

h1 {
	color: #FFF;
	font-size: 70px;
	font-weight: 100;
	letter-spacing: 0.05em;
	padding-left: 7px;
}

hr {
    border: 1px solid #FFF;
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 15px;
}

@keyframes slide_to_top {
    100% {
        transform: translate(0px, -180px);
    }
}

.menu-raised {
    animation-name: slide_to_top;
    animation-duration: 1500ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: forwards;
}

#tabs ul {
	font-size: 34px;
	margin: 0;
	padding: 0;
}

#tabs li {
	display: inline-block;
	color: #FFF;
	padding: 3px;
}

#tabs li a {
	font-weight: 300;
	color: #FFF;
}

#tabs li .vr {
	font-weight: 100;
}

.active-tab {
	font-weight: 500 !important;
}

@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.panel {
	display: none;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 800px;
	padding: 15px 30px;
	font-weight: 300;
	letter-spacing: 0.04em;
	color: #000;
}

.active-panel {
	display: block !important;
	animation-name: fade_in;
	animation-duration: 400ms;
	animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
}

blockquote {
	font-style: italic;
}

#aristotle-portrait {
	float: left;
	text-align: left;
}

#work-headings {
	color: #000;
	margin-top: 25px;
	margin-bottom: 25px;
}

#work-headings a,
#work-headings a:hover {
	display: inline-block; /* Keeps icon and text on the same line */
	color: #000;
	text-decoration: none;
	font-size: 22px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
}

#work-headings > a > img {
	border-radius: 50%;
}

.dropdown {
	display: none;
	text-align: left;
}

.dropdown p {
	text-indent: 30px;
}

.active-dropdown {
	display: block !important;
}

.active-icon {
	background-color: #ABDAFC !important;
}

.push {
	height: 50px; /* '.push' must be the same height as 'footer' */
}

/*body > footer {
	height: 50px;
	opacity: 0.2;
}*/